/*общие стили*/
html {
    background-image: url(../pictures/plants6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-size: 18px;
    color: #373833;
    margin: 0; 
    text-align: center;
}
a {
    text-decoration: none;
    color: #373833;
    
}

article {
    width: 100%;
    background-color: #E8EAE3;
    font-size: 22px;
    padding: 20px;
    margin-bottom: 55px;
    margin-top: 25px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 2px solid #373833;
}

td,
th {
    padding: 15px;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

footer {
    margin: 0;
}

header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
}

header,
footer {
    height: 50px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.bg-w {
    background-color: #E8EAE3;
}

.more-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
    background-color: #E8EAE3;
}

.bg-pink {
    background: #FA2742;
}
.up-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    padding: 10px;
    font-size: 35px;
    border-radius: 30%;
}
.shadow-block {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}
.shadow-block1 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.for_header {
    margin-top: 70px;
}
.item {
    position: relative;
}
.item a{
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
    text-align: center;
}


/**

#E8EAE3
#373833 
#FA2742 pink
**/